body {
    margin:0
}
.emma{
    background-color:rgba(0,0,0,0.8);   
}
}
html,body,.main {
    height:100%;
    margin:0;
    padding:0
}

body>.main {
    height:auto;
    min-height: 100%;
}

.footerimage {
    margin:0 auto;
    position:relative;
    width:80px;
    padding-bottom:10px
}

.main {
    width:100%;
}

.headerimage {
    margin:0 auto;
    position:relative;
    width:250px;
}

.toggles {
    width:100px
}
.spinner {
    width:31px;
    margin: auto;
    z-index: 100;
    margin-top: 20px;
}

header {
    width:100vw;
    height:80px;
    background-color:#29ABE2;
    position: fixed;
    padding-top:3px;
    padding-bottom:3px;
    z-index: 100;
}

.bbctoggle,.skytoggle,.guardiantoggle {
    background-color:rgba(255,255,255,1);
    height:20px;
    width:60px;
    text-align:center;
    margin:3px;
    margin-left:8px;
    border:0;
    font-family:'Open Sans';
    font-weight:700;
    font-size:12px;
    color:#29ABE2
}

.guardiantoggle {
    width:100px
}

h1, a {

}
